.full-body {
    background-color: #4B8CCE;
}
.top-div {
    background-color:gainsboro;
    margin: auto;
    width: 600px;
    height:170px;
    border-radius: 25px;
}
.top-header {
    text-align: center;
    font-family: 'Courier New', monospace;
}
.brief-discription {
    text-align: center;
    font-family: 'Courier New', monospace;
}
.images-div {
    background-color:gainsboro;
    margin: auto;
    width: 700px;
    height:670px;
    border-radius: 25px;
}
.linked-in-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
    height: 18%;
}
.git-hub-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    height: 22%;
}
.mail-icon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    height: 22%;
}
